@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


:root{
    --bg-color: hsl(229, 57%, 11%);
    --progress-bg:hsl(229, 57%, 11%, 50%);
    --card-bg: hsl(228, 56%, 26%);
    --text-color: hsl(243, 100%, 93%);
    --accent-color: hsl(229, 7%, 55%);

    --gfirst: hsl(6, 100%, 80%);
    --glast: hsl(335, 100%, 65%);
}
html{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

body, p{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body{
    background: url(images/bg-mobile.png) top left no-repeat, var(--bg-color);
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-content: center;
    color: var(--text-color);
}

main{
    display: grid;
    margin-inline: 1.5em;
    gap: 1em;
    min-width: 335px;
}

.flex{display: flex;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.card-bg{background-color: var(--card-bg);}

.first__card{
    padding: 3em;
    row-gap: 2em;
    border-radius: 10px 100px 10px 10px;

}

.second__card{
    padding: 2em;
    padding-block-end: 3.5em;
    row-gap: 1em;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.icon__group{column-gap: 1em;}

.icon{
    background-color: var(--bg-color);
    align-items: center;
    border-radius: 10px;
    padding: 1em;
}

progress{
    width: 100%;
    height: 1.6em;
    appearance: none;
}

progress::-webkit-progress-value {
    background-image:radial-gradient(circle at calc(100% - 10px) center,white 5px, transparent 8px),
    linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
}

progress::-moz-progress-value {
    background-image:radial-gradient(circle at calc(100% - 10px) center,white 5px, transparent 8px),
    linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: var(--progress-bg);
    border-radius: 10px;
    padding: 0.2em;
}

progress::-moz-progress-bar {
    background-color: var(--progress-bg);
    border-radius: 10px;
    padding: 0.2em;
}

.values{justify-content: space-between; font-size: 0.8rem;}

.remaining{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1em 2.5em;
    background-color: white;
    color: var(--accent-color);
    width: max-content;
    column-gap: 1em;
    align-items: center;
    align-self: center;
    border-radius: 1em;
    position: absolute;
    bottom: -31px;
}

@media only screen and (min-width: 768px) {
    .lg-flex-row{flex-direction: row;}

    body{
        background: url(images/bg-desktop.png) right bottom no-repeat, var(--bg-color);
    }

    main{ grid-template-columns: 1fr 2fr;}

    .second__card{
        text-align: left;
        align-self: end;
        padding: 3em;
    }

    .remaining{
        bottom: auto;
        top: -31px;
        right: 4em;
    }

    .remaining::after{
        content: "";
        position: absolute;
        bottom: -2em;
        right: 0;
        height: 0;
        width: 0;  
        border-top: 3em solid white;
        border-left: 3em solid transparent;
    }
}